@import "../../vars.css";


.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 20px; 
  
  justify-content: center;
  
}
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 76px 22em;
  color: var(--color-text);
  background-color: #0F0715;
}

.title {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, 
        #8D59F7 20%,
        rgb(255, 255, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.subtitle {
  text-align: center;
  font-size: 5rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  animation: colorChange 5s infinite;
  }

  @keyframes colorChange {
    0% {
      color: #8D59F7;
    }
    25% {
      color: #fa00af; 
    }
    50% {
      color: #af03af; 
    }
    75% {
      color: #b913e2; 
    }
    100% {
      color: #ff00d4; 
    }
  } 


  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filters {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .filters button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;  
    font-size: 30px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .filters button:hover {
    background-color: blueviolet;
    color: white;
  }
 
 
  @media (max-width: 768px) {
    .galleryContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .container {
      padding: 76px 0.5em;
      color: var(--color-text);
      background-color: #0F0715;
  }
  }