@import "../../vars.css";


.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
  justify-content: center;
}
.container {
    padding: 76px 12em;
    color: var(--color-text);
    background-color: #0F0715;
}

.title {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, 
        #8D59F7 20%,
        rgb(255, 255, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.subtitle {
    text-align: center;
    color:white;
    font-size: 70px;
    padding-bottom: 1.5em;
    -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 


  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filters {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .filters button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;  
    font-size: 30px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .filters button:hover {
    background-color: blueviolet;
  }
 
  .masonryGrid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  
  .masonryGridColumn {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }