@import "../../vars.css";

.container {
    color: var(--color-text);
    padding: 1em;
    background-color: #050709;
    
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    font-family: var(--font-roboto);
    color: white;
}



.softSkills {
    /*
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 37px;
    z-index: 3;
    padding-top: 3em;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 elementos en línea */
    
    padding: 1em;
}
@media (max-width: 768px) {
    .softSkills {
      grid-template-columns: repeat(2, 1fr); /* 2 elementos en línea en pantallas pequeñas */
      
    }
  }

.softSkill {
    /*
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 11px;
    */
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
    
    
}

.softSkillImageContainer {
    background: rgb(252,69,236);
    background: linear-gradient(180deg, rgba(252,69,236,1) 0%, rgb(175, 56, 230) 91%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    /*
    -webkit-box-shadow: 15px -18px 0px 0px #8D59F7;
    -moz-box-shadow: 15px -18px 0px 0px #8D59F7;
    box-shadow: 15px -18px 0px 0px #8D59F7;
    */
}
.softSkillImageContainer:hover {
    border: 2px solid #8D59F7;
}

.softSkillImageContainer img {
    max-width: 100px;
    
}
.softSkillImageContainer img:hover {
    
    filter: brightness(1.1) sepia(0) ;
}



.description {
    max-width: 350px;
    font-size: 1.4em;
    color: grey;
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    
    .softSkills {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .history {
        width: 100%;
        gap: 9px;
    }
}