@import "../../vars.css";

.container {
    color: var(--color-text);
    padding: 1em;
    background-color: #050709;
    
}

.title {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    font-family: var(--font-roboto);
    color: white;
}



.softSkills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 37px;
    z-index: 3;
    padding-top: 3em;
}

.softSkill {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 11px;
    
}

.softSkillImageContainer {
    background: rgb(252,69,236);
    background: linear-gradient(180deg, rgba(252,69,236,1) 0%, rgba(252,145,69,1) 91%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    -webkit-box-shadow: 15px -18px 0px 0px #8D59F7;
    -moz-box-shadow: 15px -18px 0px 0px #8D59F7;
    box-shadow: 15px -18px 0px 0px #8D59F7;
    
}
.softSkillImageContainer:hover {
    background-color: #41277a;
    border: 2px solid #7349cc;
}

.softSkillImageContainer img {
    width: 75px;
    
}
.softSkillImageContainer img:hover {
    
    filter: brightness(1.1) sepia(0) ;
}



.description {
    max-width: 350px;
    font-size: 22px;
    color: grey;
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .softSkills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .history {
        width: 100%;
        gap: 9px;
    }
}