@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.container {
    color: var(--color-text);
    padding: 1em;
    background-color: #050709;
}

.softSkills {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Por defecto, 4 columnas */
    padding: 2em;
    gap: 2vw; 
}



.softSkill {
    position: relative;
    border: 1px solid #8e59f780;
    border-radius: 20px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    perspective: 1000px; /* Necesario para el efecto 3D */
    transition: transform 0.8s ease-in-out;
    
}

.softSkillInner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
}

.softSkillImageContainer,
.title,
.description {
    backface-visibility: hidden; /* Oculta el lado posterior cuando está de espaldas */
}

.softSkillImageContainer {
    background: #8e59f7bb;
    border: 1px solid #8e59f780;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    max-height: 120px;
    z-index: 1;
}

.softSkillImageContainer img {
    max-width: 100%;
    height: auto;
    filter: invert(1) brightness(2); /* las imágenes son negras, con esto invierto el color para que sean blancas */
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.description .title2 {
    font-size: 1.2em;
    font-weight: 900;
    color: #000;
    margin-top: 10px;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #8e59f7bb;
    color: white;
    display: flex;
    align-items: flex-start; /* Alinea el contenido debajo de la imagen */
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2;
    flex-direction: column;
    transform: rotateX(180deg); 
}

.description .descriptionP {
    color: white;
    font-size: 0.8em;
}

.softSkillImageContainer2 {
    background: #050709;
    border: 1px solid #8e59f780;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.softSkillImageContainer2 img {
    max-width: 100%;
    height: auto;
    filter: invert(1) brightness(2); /* Las imágenes son negras, con esto invierto el color para que sean blancas */
}

.softSkill:hover .softSkillInner {
    transform: rotateX(180deg); /* Voltea la tarjeta en el eje X al hacer hover */
}

.softSkill:hover .softSkillImageContainer,
.softSkill:hover .title {
    opacity: 0;
    visibility: hidden;
}

.softSkill:hover .description {
    opacity: 1;
    visibility: visible;
}


/* Pantallas medianas: */
@media (max-width: 1024px) {
    .softSkills {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }
}

/* Pantallas pequeñas: */
@media (max-width: 768px) {
    .softSkills {
        gap: 10px; 
        padding: 0 5px; 
    }

    .softSkill {
        width: 100%; 
    }
    .softSkillImageContainer2 {
        top: -60px;
    }
}

/* Pantallas muy pequeñas:  */
@media (max-width: 480px) {
    .softSkills {
        gap: 5px; 
        margin-top: 4em;
    }

    .softSkill {
        width: 100%; 
        height: 40vh;
        padding: 0;
    }
    .description .descriptionP {
        font-size: 16px;
    }
}