@import "../../vars.css";

.container {
    color: var(--color-text);
    padding: 3em 2em;
    background-color: #050709;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1em;
    font-family: var(--font-roboto);
    display: inline-block;
    /*background: linear-gradient(
        90deg, 
        #8D59F7 20%,
        rgb(255, 255, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
    color: white;
    border-bottom: 8px solid #8D59F7;
   
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 14px;
}

.skills {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: #21153a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    
}
.skillImageContainer:hover {
    background-color: #41277a;
    border: 2px solid #7349cc;
}

.skillImageContainer img {
    width: 75px;
    
}
.skillImageContainer img:hover {
    
    filter: brightness(1.1) sepia(0) ;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}



@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .history {
        width: 100%;
        gap: 9px;
    }
}