.container {
    background-color: #050709;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    padding: 30px 1em;
}



@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 30px 15em;
    }
}

.title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 33px;
    margin-left: 1em;
    
    font-family: var(--font-roboto);
    /*
    background: linear-gradient(
        90deg, 
        #8D59F7 20%,
        rgb(255, 255, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    */
}

.historyItemDetails {
    display: flex;
    background-color: #170D22;
    padding: 30px;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 1em;
    
}
/*
.historyItemDetails:hover {
    background: linear-gradient(to right, #824DEE, #2C1558);
}
*/

.details h2:hover{
    color: #8750f7;
}

.icon {
    color: #8750f7; 
    font-size: 0.7em;
    font-weight: 100;
    padding-right: 10px;
}


ul {
    list-style: none;
}

p {
    color: #8750f7;
    font-size: 20px;
}
p:hover {
    color: white;
}

.circleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0.8em 5px 0.5em;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para posicionar el innerCircle */
    box-sizing: border-box; /* Asegura que el borde esté incluido en el tamaño total */
}

.innerCircle {
    width: 15px; /* Ajusta el tamaño para mantener el espacio */
    height: 15px; /* Ajusta el tamaño para mantener el espacio */
    background-color: #8D59F7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.line {
    width: 2px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}