.container {
    background-color: #050709;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    padding: 30px 1em;
}



@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 30px 15em;
    }
}

.title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, 
        #8D59F7 20%,
        rgb(255, 255, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.historyItemDetails {
    background-color: #170D22;
    padding: 30px;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 1em;
    
}
.historyItemDetails:hover {
    background: linear-gradient(to right, #824DEE, #2C1558);
}

.icon {
    color: #8750f7; 
    font-size: 0.7em;
    font-weight: 100;
}

ul {
    list-style: none;
}

p {
    color: #8750f7;
    font-size: 20px;
}
p:hover {
    color: white;
}