@import "../../vars.css";

.container {
    position: relative;
    background-color: #171B22;
    z-index: 1;
    
}


.title {
    padding-top: 50px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1,75px;
    text-align: center;
}

.subtitle {
    color: #797A7B;
    text-align: center;
    padding: 1em 2em 1em 2em;
    max-width: 1200px;
    font-size: 30px;
    -webkit-animation-name: zoomInn;
  animation-name: zoomInn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomInn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomInn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
li {
    color: white;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35%;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(225, 135, 248, 0.42) 0%,
        rgba(53, 24, 56, 0) 100%
        );
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 25px;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .content {
        flex-direction: column;
    }
    .aboutImage {
        display: none;
    }
    .aboutItems {
        margin-top: 29px;
    }
    .aboutItem {
        padding-left: 0;
    }
}