@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #170D22;
  padding: 1em;
  border-radius: 10px;
}

.underImage h2 {
  padding-left: 10px;
  color: #868687;
  text-transform: uppercase;
}

.underImage .description {
  color: white;
  font-size: 2.5em;
  padding-left: 10px;
}

/* efecto zoe */
.effectZoe {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 550px;
  width: 550px;
  border-radius: 10px;
}

.effectZoe img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}



/* hover overlay */
.hoverOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background: rgb(184,122,255);
  background: linear-gradient(90deg, rgba(184,122,255,1) 0%, rgba(57,29,109,1) 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1em;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
  z-index: 5;
  margin: 10px;
}
.effectZoe:hover img {
  transform: scale(1.1);
  
}
.effectZoe:hover .hoverOverlay {
  opacity: 1;
  transform: translateY(-10px);
}
.hoverOverlay p, .hoverOverlay h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.hoverOverlay p {
  font-size: 1em;
}

.arrow {
  font-size: 2em;
  transition: transform 0.5s ease;
  
}
.effectZoe:hover .hoverOverlay .arrow {
  transform: translate(36px, 0px);
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  .effectZoe {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
