@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  text-decoration: none;
  /*background-color: #170D22;*/
  padding: 0;
  border-radius: 10px;
  justify-items: center;
  border: 3px solid white;
}


/* efecto zoe */
.effectZoe {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 450px;
  width: 450px;
  border-radius: 10px;
}

.effectZoe img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}



/* hover overlay */
.hoverOverlay {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 30%;
  background: rgb(93, 43, 150);
  background: linear-gradient(90deg, rgb(93, 43, 150) 0%, rgba(57,29,109,1) 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 0.5em;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
  border: 4px solid white;
  z-index: 5;
  
}
.effectZoe:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}
.effectZoe:hover .hoverOverlay {
  opacity: 1;
  transform: translateY(-10px);
}
.hoverOverlay p, .hoverOverlay h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.hoverOverlay p {
  font-size: 1em;
}

.arrow {
  font-size: 2em;
  transition: transform 0.5s ease;
  
}
.effectZoe:hover .hoverOverlay .arrow {
  transform: translate(15px, 0px);
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  .effectZoe {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
