@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


.projectDetail {
    padding: 2em auto;
    text-align: center;
    background-color: #0F141C;
    background-image: url(../../../assets/projectDetail/hexagon.jpg);
    background-size:100% 20%; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: top; /* Centra la imagen */
    
  }
  
  .imgContainer {
    background-color: transparent;
    border-radius: 25px;
    padding: 1em 2em;
    max-width: fit-content;
    margin: 0 auto;
    
  }

  .mainImg {
    width: 100%;
    max-width: 1200px;
    height: 70vh;
   
    background-color: #fff;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 1em;
    
  }

  .block1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #171B22;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }


  .block1 a {
    background-color: #89f541;
    padding: 8px;
    font-size: 1.5em;
    border-style: none;
    border-radius: 20px;
    margin: 1em;
    text-decoration: none;
    color: black;
    min-width: 200px;
  }

  .block1 a:hover {
    background-color: #050505;
    color: #89f541;
    border-style: none;
    border-radius: 20px;
    border: 2px solid #89f541;
  }
  .extraImgContainer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    max-width: 800px;
    height: 600px; 
    margin: 0 auto;
    margin-top: 5em; 
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegura que cada slide ocupe toda la altura del contenedor */
  }
  
  .extraImg {
    max-height: 100%; /* Se ajusta a la altura del contenedor */
    max-width: 100%; /* Asegura que no se desborde horizontalmente */
    margin: auto;
    object-fit: contain; /* Ajusta el tamaño sin cortar la imagen */
    display: block;
  }


/* Estilo para las flechas de navegación */
:global(.swiper-button-prev),
:global(.swiper-button-next){
  color: #8D59F7 !important; /* Morado */
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cambiar el color de las flechas al pasar el ratón */
:global(.swiper-button-prev:hover),
:global(.swiper-button-next:hover){
  
  color: white; /* Color blanco para el ícono dentro de la flecha */
}

/* Ajustar la posición de las flechas */
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* Estilo para los bullets de pagination */

:global(.swiper-pagination-bullet) {
  width: 16px !important; /* Tamaño más grande */
  height: 16px !important; /* Tamaño más grande */
  background-color: #8D59F7 !important; /* Morado */
  opacity: 1; /* Asegúrate de que no sea transparente */
}

:global(.swiper-pagination-bullet-active) {
  background-color: #8D59F7; /* Color morado para el círculo activo */
  opacity: 1; /* Asegúrate de que no sea transparente */
}



  .title {
    font-size: 2.5em;
    padding-top: 2em;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
  }

  .mainTextContainer h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    margin-left: 0;
  }
  .projectDetail p {
    font-size: 1.5em;
    color: #ffffff;
    padding-bottom: 2em;
    padding-top: 1em;
  }
  
  .projectDetail h2 {
    font-size: 5rem;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
    animation: colorChange 5s infinite;
  }

  @keyframes colorChange {
    0% {
      color: #a47af8;
    }
    25% {
      color: #f76ece; 
    }
    50% {
      color: #e4dd7f; 
    }
    75% {
      color: #79eb91; 
    }
    100% {
      color: #f3a667; 
    }
  }

  .mainTextContainer {
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 10px;
    justify-content: center;
    padding: 20px 4em;
    color: white;
  }

  .left {
    color: white;
    margin: 30px;
    padding: 1em;
  }

  .left p {
    text-align: left;
  }
  .left h1 {
    text-align: left;
  }

  

  .details, .banner {
    background-color: #171B22;
    color: white;
    margin: 30px;
    border-radius: 25px;
    padding: 2em;
  }

  .border {
    border-bottom: 0.5px solid #8D59F7;
    padding-top: 1em;
  }

  .details ul li {
    color: #8D59F7;
    text-align: left;
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .details ul li li {
    color: #FFF;
    text-align: left;
    font-size: 1.3em;
  }

  .details ul li ul {
    padding-left: 0;
  }
  .block ul li {
    color: #666;
    font-size: 1.5em;
    text-align: left;
    list-style: disc ;
  }

  .block p {
    color: #666;
    font-size: 1.5em;
    text-align: left;
    list-style: disc ;
  }

  .leftList {
    font-size: 1em;
  }

 

  .phone {
    background-color: #89f541;
    font-size: 5em;
    color: #000;
    border-radius: 20px;
    padding: 10px;
  }

  h3 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .banner button {
    background-color: #050505;
    color: #89f541;
    padding: 8px;
    font-size: 2em;
    border-style: none;
    border-radius: 20px;
    border-style: none;
    border-radius: 20px;
    border: 2px solid #89f541;
  }
  .banner button:hover {
    background-color: #050505;
    color: #89f541;
    padding: 8px;
    font-size: 2em;
    border-style: none;
    border-radius: 20px;
    border: 2px solid #89f541;
  }

  .flag {
    width: 25px;
    height: auto;
    margin: 0 auto;
    margin-right: 5px;
    
  }

  @media (max-width: 990px) {
    .mainTextContainer {
        display: grid;
        grid-template-columns: 1fr;
        
      }
      .projectDetail {
        background-size:100% 500px; /* Ajusta la imagen para cubrir todo el contenedor */
        
        
      }
      .mainImg {
        
        width: 95%;
        height: auto;
        margin: 1px;
        object-fit: cover;
      }
      .block1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.1em;
        margin-bottom: 1em;
      }
      .block1 a {
        font-size: 1.2em;
      }
      .extraImgContainer {
        
        max-width: 300px;
        max-height: 400px; 
        margin: 0 auto;
      }
  }