@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


.projectDetail {
    padding: 2em auto;
    text-align: center;
    background-color: #0F141C;
    background-image: url(../../../assets/projectDetail/hexagon.jpg);
    background-size:100% 30%; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: top; /* Centra la imagen */
    
    
  }
  
  .mainImg {
    width: 100%;
    max-width: 1200px;
    height: 70vh;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 25px; 
    transform: rotate3d(.5, -.866, 0, 15deg) rotate(1deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 5px;
  }

  .mainImg:hover {
    transform: rotate3d(0, 0, 0, 0) rotate(0);
  }

  .block4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    align-items: center;
  }

  .extraImg {
    
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 25px;

  }

  .title {
    font-size: 2.5em;
    padding-top: 2em;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
  }

  .mainTextContainer h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    margin-left: 0;
  }
  .projectDetail p {
    font-size: 1.5em;
    color: #ffffff;
    padding-bottom: 2em;
    padding-top: 1em;
  }
  
  .projectDetail h2 {
    font-size: 5rem;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
    animation: colorChange 5s infinite;
  }

  @keyframes colorChange {
    0% {
      color: #a47af8;
    }
    25% {
      color: #f76ece; 
    }
    50% {
      color: #e4dd7f; 
    }
    75% {
      color: #79eb91; 
    }
    100% {
      color: #f3a667; 
    }
  }

  .mainTextContainer {
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 10px;
    justify-content: center;
    padding: 20px 4em;
    color: white;
  }

  .left {
    color: white;
    margin: 30px;
    padding: 1em;
  }

  .left p {
    text-align: left;
  }
  .left h1 {
    text-align: left;
  }

  .block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .block1 a {
    background-color: #FFDB59;
    padding: 8px;
    font-size: 1.5em;
    border-style: none;
    border-radius: 20px;
    margin: 1em;
    text-decoration: none;
    color: black;
  }

  .details, .banner {
    background-color: #171B22;
    color: white;
    margin: 30px;
    border-radius: 25px;
    padding: 2em;
  }

  .border {
    border-bottom: 0.5px solid #8D59F7;
    padding-top: 1em;
  }

  .details ul li {
    color: #8D59F7;
    text-align: left;
    padding-bottom: 10px;
    
  }

  .details ul li li {
    color: #FFF;
    text-align: left;
    font-size: 1.3em;
  }

  .details ul li ul {
    padding-left: 0;
  }
  .block ul li {
    color: #666;
    font-size: 1.2em;
    text-align: left;
    list-style: disc ;
  }

  .block p {
    color: #666;
    font-size: 1.2em;
    text-align: left;
    list-style: disc ;
  }

  .leftList {
    font-size: 1em;
  }

 

  .phone {
    background-color: #8D59F7;
    font-size: 5em;
    color: white;
    border-radius: 20px;
    padding: 10px;
  }

  h3 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .banner button {
    background-color: #FFDB59;
    padding: 8px;
    font-size: 2em;
    border-style: none;
    border-radius: 20px;
  }
  .banner button:hover {
    background-color: #050505;
    color: #FFDB59;
    padding: 8px;
    font-size: 2em;
    border-style: none;
    border-radius: 20px;
    border: 2px solid #FFDB59;
  }

  .flag {
    width: 25px;
    height: auto;
    margin: 0 auto;
    margin-right: 5px;
    
  }

  @media (max-width: 990px) {
    .mainTextContainer {
        display: grid;
        grid-template-columns: 1fr;
        
      }
  }